<% if (useBootstrap) { %> @import "bootstrap-sass-official/assets/stylesheets/_bootstrap";<% } else if (useFoundation) { %>@import "foundation/scss/foundation";<% } %>
<% if (!useBootstrap) { %>@import "sass-bootstrap-glyphicons/scss/bootstrap-glyphicons";<% } %>

.header {
    height: 50px;
}

.yeoman-team {
    max-width: 90%;
    display:block;
    margin: 20px 0 50px;

}
