<% if (useFoundation) { %>
.panel {
    background: #eee;
    padding: 2em;
    margin-bottom: 2em;
}

.header {
    margin-bottom: 2em;
}<% } else if (usePure) { %>
.pure-g {
    padding: 15px 20px;
}

.button-success {
    background: rgb(28, 184, 65);
}

.hero {
    background: #eee;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}<% } %>

<% if (!useUikit && !useFoundation) { %>
.header {
    height: 50px;
}<% } %>

.yeoman-team {
    max-width: 90%;
    display:block;
    margin: 20px 0 50px;
}
