<% if (useBootstrap) { %> @import "bootstrap-sass-official/assets/stylesheets/_bootstrap";<% } else if (useFoundation) { %>@import "foundation/scss/foundation";<% }  else if (usePure) { %>@import "/pure/pure.css";
@import "/suit-utils-layout/lib/layout.css";<% } %>
<% if (!useBootstrap) { %>@import "sass-bootstrap-glyphicons/scss/bootstrap-glyphicons";<% } %>

<% if (usePure) { %>
.pure-g {
    padding: 15px 20px;
}

.button-success {
    background: rgb(28, 184, 65);
}

.hero {
    background: #eee;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}<% } %>

.header {
    height: 50px;
}

.yeoman-team {
    max-width: 90%;
    display:block;
    margin: 20px 0 50px;

}
